.cartItem{
    position: relative;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-right: 20px;
    margin-bottom: 10px;

}



.countHandler {
  display: flex;
  flex-direction: row;
  

  .inputCart {
    text-align: center;
    width: 20%;
    min-width: 21px;
  }
}

.removeBtn{
    display: flex;
    align-items: center;
    position: absolute;
    cursor: pointer;
    bottom: 10px;
    right: 10px;
    gap: 2px;
    &:hover{
        opacity: .5;
    }
}

.imgCart {
    height: 200px;
    margin-right: 20px;
    cursor: pointer;
}