
.container {
  margin-bottom: 10rem;
}

.outer-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;

}

.checkout-container {
  max-width: 60vw;
  margin: auto;
  padding-top: 4rem;
}

.forms {
  display: flex; 
  flex-direction: column;
}

.forms-container {
  display: flex;
  flex-direction: column;
  gap: '1rem';
}

.inputCheckout {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  color: #2C3E50;
  font-size: 13px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style-type: none;
  margin-bottom: 2rem;
}

.list-item {
  height: 25px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.image {
  height: 100%;
  aspect-ratio: 1;
}

.horizontal-line {
  background-color: lightgrey;
  height: 2px;
}

.complete-payment {
  width: 100%;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  &:hover{
      background-color: #0056b3;
  }

  &:disabled {
    background-color: grey;
  }
}