
.detailsContainer {
    display: flex;
    justify-content: center;
    
    padding: 100px;
  }
  
  .detailsContainer .left {
    flex: 0 0 40%; 
    margin-right: 20px; 
  }
  
  .detailsContainer .detailsRight {
    flex: 1; 
  }
  
  .detailsContainer .detailsImage {
    width: 100%; 
    height: auto; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
  }
  
  .detailsContainer h2 {
    margin-top: 0;
  }
  
  .detailsContainer p {
    margin: 0;
    margin-bottom: 10px; 
  }
  
  .detailsContainer .addToCartBtn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    &:hover{
        background-color: #0056b3;
    }
  }
  
 
  