.footerBox {
    background-color:#27282c;
    color: #fff; /* Set the text color */
    padding: 10px; /* Add padding to the footer */
    text-align: center; /* Center the text */
    position: fixed; /* Fixed position at the bottom */
    left: 0;
    bottom: 0;
    width: 100%; /* Full width */
  }
